<article class="new-item">
    <div class="uk-card uk-card-hover uk-card-default">
        <div class="uk-card-media-top">
            <img [src]="imagePath" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Blockchain, Cryptocurrencies, and the Dark Web</h3>
            <p class="block-with-text">Cryptocurrency has been hailed as the fuel for the dark web and, so far, the ship has sailed a million miles. However, pundits envisage that a time will come when the captains of this ship, the masterminds who perpetrate illicit trades on the platform, will be stopped and that time might be sooner than we expect.</p>
            <a class="uk-link-heading new-item__link uk-align-center" href="#">Read all</a>
        </div>
    </div>
</article>