header{
    box-shadow:0 5px 15px rgba(0,0,0,.08);;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.uk-offcanvas-bar{
    background: white;
    & ul{
        & li {
            color:black;
            & a {
                padding: 10px 0px;
                color:black;
            }
        }
    }
}

.uk-offcanvas-close{
    color: black;
    opacity: 0.7;
    &:hover{
        color: black;
        opacity: 1;
    }
}

.divider{
    background: black;
}